name: Laravel

on: [push, pull_request]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'
        extensions: xdebug-beta
    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      run: vendor/bin/phpunit
      
